<html>
  <head>
    <title>
           Site is under construction!!!
    </title>
  </head>
  <body>
    <h1>This site is under construction</h1>
    <p>If you can see this, webserver work properly.</p>

<h1> Hi, Danil!!!! </h1>

    <p>{{ ansible_host }}</p>
  </body>
</html>
